<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ホテル検索</title>
</head>
<body>

<h1>ホテル検索</h1>

<form th:action="@{/hotels/search}" method="get">
    <input type="number" name="price" th:value="${price}">
    円以下
    <br>
    <button type="submit">検索</button>
</form>

<p th:if="${message}" th:text="${message}"></p>

<table border="1" th:if="${hotelList}">
    <tr>
        <th>ホテル名</th>
        <th>最寄駅</th>
        <th>価格</th>
    </tr>

    <tr th:each="hotel : ${hotelList}">
        <td th:text="${hotel.hotelName}"></td>
        <td th:text="${hotel.nearestStation}"></td>
        <td th:text="${hotel.price}"></td>
    </tr>
</table>

</body>
</html>
